@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #e4e7eb;
  border-radius: 10px;
  border: 2px solid #f7f9fc;
}

::-webkit-scrollbar-thumb {
  background: #9aa5b1;
  border-radius: 10px;
  border: 2px solid #f7f9fc;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c5766;
}

::-webkit-scrollbar-corner {
  background: #f7f9fc;
}

/* Theme Variables */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --secondary: 210 40% 96.1%;
    --muted: 210 40% 96.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --muted: 217.2 32.6% 17.5%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
